{% extends "../layout.njk" %}
{% import "parts/section-products.njk" as section%}

{% block content %}
<div class="container">
  {{section.products('Últimos Produtos', '', products)}}
</div>
{% endblock content %}